<!DOCTYPE html>
<html>
<head>
	<title>CodeBusterZ</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/map.css">
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
</head>
<body>
	
	<div class="container-fluid">
		<div class="navbar navbar-fixed panel panel-body col-lg-12">
			<h1 class="col-lg-offset-5 col-xs-offset-5" id="loc_elem">
				<a href="/" class="">F.L.A.S.H.</a>
			</h1>
		</div>

		<h2 class="col-lg-offset-3 col-xs-offset-3">Find your freinds and places in a F.L.A.S.H</h2>
		<br/>
		<br/>

		{{{body}}}

	</div>
	
    <script type="text/javascript" src='js/geolib.min.js'></script>
    <script type="text/javascript" src="js/map_functions.js"></script>
    <script type="text/javascript" src="js/on_map_jquery.js"></script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj7hVHifbI0aIYWtQi9QIL1cGfMAiDOTQ&libraries=places&callback=initMap">
    </script>

</body>

</html>