<!DOCTYPE html>
<html>
	<head>
		<title>CodeBusterZ</title>
	</head>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

<body>
	<div class="navbar navbar-fixed col-lg-12">
		<h1 class="col-lg-offset-5">
			<a href="/">PROFCATOR</a>
		</h1>
	</div>

	{{{body}}}
	
</body>
</html>