<div class="container">
	<div class="map panel panel-default col-lg-offset-2 col-lg-8">
		<div class="panel-heading">
			Your Location
		</div>
		<div class="panel-body">
			
		</div>
	</div>

	<div class="panel panel-info col-lg-offset-2 col-lg-8">
		<div class="panel-body">
			Brief description of what the app is about.
		</div>
	</div>

	<div class="panel panel-info col-lg-offset-2 col-lg-8">
		<div class="panel-body">
			<div class="btn-group col-lg-offset-2 col-lg-8">
				<a class="btn btn-info" href="#">Find Friends</a>
				<a class="btn btn-warning" href="#">Find Places</a>
				<a class="btn btn-danger" href="#">Share my location</a>
			</div>
		</div>
	</div>
</div>